<a href="https://colab.research.google.com/github/ATMANIB/first-repo/blob/main/Structures_de_donn%C3%A9es_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Question 1 : Multiplier tous les éléments d'une liste
liste = [2, 3, 6]
resultat = 1
for x in liste:
    resultat *= x
print("Résultat =", resultat)

Résultat = 36

In [ ]:
# Question 2 : Trier une liste de tuples par le dernier élément
tuple_liste = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
tuple_liste.sort(key=lambda x: x[-1])
print("Résultat trié:", tuple_liste)

Résultat trié: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# Question 3 : Combiner deux dictionnaires avec ajout des valeurs communes
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
result = d1.copy()
for key in d2:
    if key in result:
        result[key] += d2[key]
    else:
        result[key] = d2[key]
print("Dictionnaire combiné:", result)

Dictionnaire combiné: {'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
# Question 4 : Générer un dictionnaire {i: i*i} pour i de 1 à n
n = 8
dictionnaire = {i: i * i for i in range(1, n + 1)}
print("Carrés:", dictionnaire)

Carrés: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# Question 5 : Trier un tuple par son élément flottant
tuple_list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
tuple_list.sort(key=lambda x: float(x[1]), reverse=True)
print("Tri décroissant par float:", tuple_list)

Tri décroissant par float: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
# Question 6 : Créer, itérer, ajouter et retirer dans un ensemble
mon_ensemble = set(range(5))
print("Ensemble:", mon_ensemble)

print("Itération:")
for element in mon_ensemble:
    print(element)

# Ajouter un élément
mon_ensemble.add(5)
print("Après ajout:", mon_ensemble)

# Retirer un élément
mon_ensemble.discard(2)
print("Après suppression:", mon_ensemble)

Ensemble: {0, 1, 2, 3, 4}
Itération:
0
1
2
3
4
Après ajout: {0, 1, 2, 3, 4, 5}
Après suppression: {0, 1, 3, 4, 5}